*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6462622a;
}

/* container */
/* .contener{
    height: 80vh;
    width: 50%;
    border: 1px solid black;
    display: flex;
    gap: 1rem;
} */

.box{
    height: 90%;
    width: 25%;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 2rem;
}

/* ---------- BOX 1 ---------- */

.box1{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #fff;
    border: none;
    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px,
                rgba(0,0,0,0.23) 0px 3px 6px;
}

.img1{
    height: 70%;
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;

    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px,
                rgba(0,0,0,0.23) 0px 3px 6px;

    overflow: hidden;
    transition: 0.5s;
}

.text{
    width: 90%;
    margin: 1rem;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: rgb(80,79,79);
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    gap: 0.8rem;
}

.user{
    width: 6.5rem;
    font-size: 22px;
    cursor: pointer;
}

.camera{
    width: 6rem;
    font-size: 22px;
    cursor: pointer;
}

.btn{
    border-radius: 1.3rem;
    width: 12rem;
    height: 3rem;
    font-size: 22px;
    border: none;
    background-color: rgba(179,171,171,0.712);

    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px,
                rgba(0,0,0,0.23) 0px 3px 6px;

    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    background-color: #888181a6;
}

/* ---------- BOX 2 ---------- */

.box2{
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;

    border: none;
    overflow: hidden;

    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px,
                rgba(0,0,0,0.23) 0px 3px 6px;
}

/* blur section */

.bulr{
    height: 37%;
    width: 100%;
    border-radius:0 0 2rem 2rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(9px);
    background: rgba(255,255,255,0.05);
}

/* bottom icons */

.icon1{
   margin-top: 2.5rem;
}

.btn1{
    background-color: #ffffffea;

    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px,
                rgba(0,0,0,0.23) 0px 3px 6px;
}

.user1{
    color: #ffffffea;
    cursor: pointer;
}

.camera1{
    color: #ffffffea;
    cursor: pointer;
}

.txt1{
    margin-top: 2rem;
}

.paragraf{
    color: #ffffffea;
}

.hading{
    color:#ffffffea;
}