@media (max-width: 768px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f8f8f8a4;
    /* width: 100%;
    height: 100vh; */
}
header{
    width: 100%;
    height: 7rem;
    display: flex;
    background: #fffffffa;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
.logo{
    font-size: 1rem;
    font-weight: 600;
    color: #00adfd;
    display: flex;
    
    padding: 2rem;
}
.nav-links{
 display: none;
}
.icne{
    display: block;
    font-size: 1.5rem;
    color: #00a5f1;
    padding: 2rem;
}
.box{
    display: block;
    height: 20rem;
    width: 20rem;
    border: 0.2rem solid #000000;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    padding: 1rem;
 background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.527) 0px 1px 2px, rgba(0, 0, 0, 0.384) 0px 2px 4px, rgba(0, 0, 0, 0.116) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.486) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.boxx{
    height: 60%;
    width: 90%;
    /* border: 0.2rem solid #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
 
}
.box1{
      height: 60%;
    width: 45%;
    margin-top: 0.6rem;
    transition: 0.3s;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(8, 8, 8, 0.404) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}
.box1:hover{
   transform: scale(1.1);
}
h2{
    text-align: center;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}
.mmm{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box11{
    background-image: url(download\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box2{
    background-image: url(download\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box3{
    background-image: url(download\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pay-button{
    padding: 1rem 1.5rem;
    background-color: #00a5f1;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.226) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.212) -3px -3px 6px 1px inset;

}

}