*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    /* background-color: rgba(0, 0, 0, 0.514); */
 
}
body{
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: rgba(0, 0, 0, 0.514);

}
.contener{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: rgba(0, 255, 255, 0.541);
    border: none;
    border-radius: 18px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    height: 70%;
    width: 100%;
    border-bottom: 2px solid black;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: none;
}
h2{
    margin-top: 10px;
    color: rgb(255, 255, 255);

}
button{
    height: 40px;
    width: 80%;
    margin-top: 4px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(7, 0, 105);
    text-align: center;
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    transform: scale(1.1);
    
}